# To index docs with the provided script
UPSTASH_VECTOR_REST_URL="your-upstash-vector-rest-url"
UPSTASH_VECTOR_REST_TOKEN="your-upstash-vector-rest-token"
# Read-only token for querying the index
UPSTASH_VECTOR_READ_ONLY_REST_TOKEN="your-upstash-vector-read-only-rest-token"
# The namespace to use for the index. the default is 'docusaurus-ai-search-upstash'
UPSTASH_VECTOR_INDEX_NAMESPACE="your-upstash-vector-index-namespace" 

# Enable AI chat feature
ENABLE_AI_CHAT="true"

# Required for the AI chat feature
OPENAI_API_KEY="your-openai-api-key"
